@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
  --font-family: 'Cairo', sans-serif;

  --text-color: #f0f0f0;
  --text-color-secondary: #d7dcdf;
  --new-cases: hsla(49, 95%, 61%, 0.082);
  --new-deaths: #e718181e;
  --primary-color: #818cf8;
  --background-color: #1e2028;
  --background-color-light: #24273167;
  --background-color-dark: #1e2028;
  --box-shadow: 0px 2px 8px rgba(255, 255, 255, 0.1);
  --scrolTop: #ffffff;
  --scrollBtn: #3a393d;
  --theme-switch: #f5cc46;
  --new-cases-text: hsl(44, 100%, 49%);
}

[data-theme='light'] {
  --text-color: #f0f0f0;
  --text-color-secondary: #3a393d;

  --primary-color: #4f46e5;

  --background-color: #f9f9f9;
  --background-color-dark: #eef3f6;
  --background-color-light: #fff;
  --font-family: 'Cairo', sans-serif;

  --box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
  --new-cases: hsla(49, 95%, 61%, 0.082);
  --new-deaths: hsla(0, 81%, 50%, 0.116);
  --scrolTop: #3a393d;
  --scrollBtn: #f9f9f9;
  --theme-switch: #3c3c3d;
  --new-cases-text: hsl(44, 100%, 35%);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color-secondary);
  font-size: 18px;
  scroll-behavior: smooth;
  direction: rtl;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: inherit;
  font: inherit;
}
.toTop {
  width: 40px;
  height: 60px;
  background-color: var(--scrolTop);
  position: fixed;
  bottom: 20px;
  right: 10px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  display: none;
  transition: 0.2s all ease-in-out;
  text-align: center;
}
.toTop.active__scroll {
  display: flex;
  justify-content: center;
  align-items: center;
}
.keyboard_arrow_up {
  text-align: center;
  color: var(--scrollBtn);
  display: flex;
  font-size: 60px;
  width: 100px;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
