@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
:root {
  --text-color: #f0f0f0;
  --text-color-secondary: #3a393d;

  --primary-color: hsl(245deg, 100%, 60%);

  --background-color: #f9f9f9;
  --background-color-dark: #eef3f6;
  --background-color-light: #fff;
  --font-family: "Cairo", sans-serif;

  --box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
  --new-cases: rgba(247, 233, 46, 0.377);
  --new-deaths: rgba(255, 0, 0, 0.219);
  --scrolTop: #3a393d;
  --scrollBtn: #f9f9f9;
}
[data-theme="dark"] {
  --text-color: #f0f0f0;
  --text-color-secondary: #d7dcdf;
  --new-cases: rgba(243, 212, 108, 0.61);
  --new-deaths: rgba(252, 101, 90, 0.671);
  --primary-color: rgb(80, 55, 221);
  --background-color: #282729;
  --background-color-dark: #3c393f;
  --background-color-light: #1e1c1f;
  --box-shadow: 0px 2px 8px rgba(255, 255, 255, 0.1);
  --scrolTop: #ffffff;
  --scrollBtn: #3a393d;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color-secondary);
  font-size: 18px;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: inherit;
  font: inherit;
}
.toTop {
  width: 40px;
  height: 60px;
  background-color: var(--scrolTop);
  position: fixed;
  bottom: 20px;
  right: 10px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  display: none;
  transition: 0.2s all ease-in-out;
  text-align: center;
}
.toTop.active__scroll {
  display: flex;
  justify-content: center;
  align-items: center;
}
.keyboard_arrow_up {
  text-align: center;
  color: var(--scrollBtn);
  display: flex;
  font-size: 60px;
  width: 100px;
}
